/* CSS declarations go here */
nav ul li {
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
}

p {
    font-size: 1.6rem;
}

p.card-text {
    font-size: 1rem;
}

input#comment {
    margin-right: 5%;
}

.abajo {
    margin-top: 70px;
    margin-bottom: 50px;
}

.normal {
    font-size: 1rem;
}

.center {
    width: 50%;
    text-align: center;
}

.bargraph {
    background-color: rgba(44, 87, 143, 0.678);
}